//index.modules.css

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  background: gray;

  @media only screen and (max-width: 768px) {
    grid-template-columns: auto;
  }

  .header{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
  }
  
  .content{
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
  }
  
  .container-wrapper {
    background: white;
    margin: 20px;
    border-radius: 8px;
  }
  
  .arrow-element {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
  
    &.down {
      .arrow-button {
        transform: rotate(180deg);
      }
    }

    .arrow-button {
      cursor: pointer;
      color: steelblue;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }
  }
  
  .collapsible-list {
    padding: 20px;

    .list {
      margin: 0;
      padding: 10px;
      list-style-position: inside;

      li {
        padding: 5px 0;
      }
    }
  }
  
  .container-button {
    color: white;
    background: steelblue;
    text-align: center;
    padding: 10px 20px;
    max-width: 100px;
  }
}
